<%= render 'shared/error_messages' %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<% if admin_logged_in? %>
<div class='row'>
  <span class="col-xs-4">
    <%= f.label :admin, 'Make administrator' %>
  </span>
  <span class="col-xs-1">
    <%= f.check_box :admin %>
  </span>
</div>
<% end %>
